body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}


h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
}

